:root {
  --white-color: #ffffff;
  --bg-white-color: #eceff3;
  --hover-white-color: #dde0e6;
  --black-color: #050505;
  --font-color: #585757;
  --font-light-color: #9b9797;

  --green-color: #6aa84f;
  --blue-color: #7b95e0;
  --pink-color: #fabfbf;
  --error-color: #ee4e4e;
  --error-big-color: antiquewhite;

  --p-font-size: 16px;
  --p-font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-white-color);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lato", "Comic", "Roboto", sans-serif, Verdana, Arial, "Helvetica", "Helvetica Neue";
}

#loading-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.2);
}
#loading-icon {
  width: 100px;
  height: 100px;
  border: solid var(--font-color) 10px;
  border-top-color: transparent;
  border-radius: 100px;
  -webkit-animation: loader 1s linear infinite;
  animation: loader 1s linear infinite;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
