module.exports = (publicKey) => `
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap&family=Roboto&family=Comic+Neue" />
    <link rel="stylesheet" type="text/css" href="/style/variables.css" />
    <link rel="stylesheet" type="text/css" href="/style/donate.css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/favicon/apple-180x180.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <meta name="description"
      content="Kawara is a full stack web developer who does Front-end Back-end web development, Performance maintenance Fixing websites, Updating Editing websites." />
    <meta name="keywords"
      content="حمل اكثر 2000 مفردة إنجليزية مستخدمة، كتيب من الكلمات المستخدمة في اللغة الانجليزية مترجمة الى العربية فقط ب 1€ يورو" />
    <meta name="author" content="Armando Kawara" />
    <title>اكثر 2000 مفردة انجليزية مستخدمة | كتيب من الكلمات المستخدمة في الانجليزية مترجمة الى العربية</title>

    <style>
      .amount {
        color: dodgerblue;
      }
    </style>
  </head>

  <body>

    <div class="outer-container">
      <main class="container">
        <h1 class="heading">كتيب من الكلمات المستخدمة في اللغة الانجليزية مترجمة الى العربية فقط ب <span
            class="amount">1</span> يورو
        </h1>

        <form action="">
          <div>
            <input type="button" name="bank" value="bank" onclick="checkout(this)" />
            <a href="https://paypal.me/armandoshamo">Paypal</a>
          </div>

        </form>
      </main>
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripe = Stripe("${publicKey}");

      const checkout = async (e) => {
        try {
          const options = { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify({}) }
          const session = await fetch("/api/payment-session", options).then((response) => response.json());
          if (session.error) throw session.error
          stripe.redirectToCheckout({ sessionId: session.id });
        } catch (error) {
          console.log(error);
          // If redirectToCheckout fails due to a browser or network error, display error to your customer using error.message.
          if (error.error) return alert(result.error.message);
          console.error("Error:", error.message);
        }
      };
    </script>
  </body>

</html>
`